# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
/src/components/Usecase3/backend/.venv
/src/components/Usecase3/backend/__pycache__
/src/components/Usecase3/backend/DataViz/__pycache__
/src/components/Usecase3/backend/unified_db.db
venv/
__pycache__/
/api/notebook

# Mage
/mage-T4/mage/mage_data/default_repo/.cache
/mage-T4/scripts

/api/.venv
/api/unified_db.db
